h1 {
    text-align: center;
}


.books {
    margin: auto;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.books div {
    width: 25%;
    height: 25%;
    text-align: center;
}