html {
    font-family: 'Lato', sans-serif;
    background-color:#12232E;
}


h1 {
    text-align: center;
    height: 70px;
    color: #EEFBFB;
}

/* Main buttons of the page */

#main-buttons {
    text-align: center;
    margin-bottom: 3%;
}

#main-buttons svg:hover {
    cursor: pointer;
}

#main-buttons svg:hover #original-icon {
    fill: #015f99;
}

#main-buttons svg:active #original-icon {
    fill: #004875;
}

#main-buttons .remove-library {
    color: #EEFBFB;
    background-color: rgb(204, 61, 61);
    margin-top: 1%;
    width: 10%;
    height: 30px;
    border-radius: 5px;
    border: none;
}

#main-buttons .remove-library:hover {
    background-color: rgb(177, 55, 55);
}

#main-buttons .remove-library:active {
    background-color: rgb(150, 44, 44);
}


/* Book containers */

.books {
    margin: auto;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.books .book {
    flex: 0 0 30%;
    height: 25%;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color:  #203647;
    color: #EEFBFB;
}

.book-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.book-content .buttons {
    display: inline-flex;
    gap: 30px;
}

.books div p {
    margin: 5px;
}



/* Modal */

.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-active {
    display: block;
}

.modal-content {
    position: relative;
    background-color: #203647;
    color: #EEFBFB;
    padding: 20px;
    padding-top: 4px;
    margin: auto;
    width: 20%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    top: 10%;
    border-radius: 10px;
}

.close-btn {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
}

.close-btn {
    color: darkgray;
    cursor: pointer;
}

@-webkit-keyframes animatetop {
    from {top: 100px; opacity: 0}
    to {top: 10%; opacity: 1}
}

.modal-header {
    text-align: center;
    padding-top: 0;
}

.modal-form button {
    font-size: 17.5px;
    color:#EEFBFB;
    background-color: #007CC7;
    border-radius: 5px;
    border: none;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin-top: 10px;
}

.modal-form button:hover {
    background-color: #015f99;
}

.modal-form button:active {
    background-color: #004875;
}

.status p {
    margin-bottom: 5px;
}

/* Footer */

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 99.6%;
    height: 2.5rem;  
    margin-bottom: 20px;   
    color: #EEFBFB;     /* Footer height */
  }



/* Buttons for status edit and remove */

.buttons {
    margin-top: 20px;
}

.buttons button {
    font-size: 17.5px;
    color:#EEFBFB;
    background-color: #007CC7;
    border-radius: 5px;
    border: none;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #015f99;
}

.buttons button:active {
    background-color: #004875;
}


/* Modal remove library */

.modal-remove {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-remove-active {
    display: block;
}

.modal-remove-content {
    position: relative;
    background-color: #203647;
    color: #EEFBFB;
    padding: 20px;
    padding-top: 4px;
    margin: auto;
    width: 20%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    top: 10%;
    border-radius: 10px;
}

.modal-remove-form button {
    font-size: 17.5px;
    color:#EEFBFB;
    background-color: #007CC7;
    border-radius: 5px;
    border: none;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin-top: 10px;
}

.modal-remove-form button:hover {
    background-color: #015f99;
}

.modal-remove-form button:active {
    background-color: #004875;
}